<%= form_tag(:action => :do_import) do %>
    <%= submit_tag %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Type</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Payee Name</th>
      <th>Category Name</th>
      <th>Balance</th>
      <th>Comment</th>
    </tr>
  </thead>
<% @imported_data.each do |line_item| %>
      <tbody>
            <tr>
                <td><%= line_item.type_name%></td>
                <td><%= line_item[:event_date] %></td>
                <td><%= line_item[:amount] %></td>
                <td><%= line_item[:payee_name] %></td>
                <td><%= line_item[:category_name] %></td>
                <td><%= line_item[:balance] %></td>
                <td><%= line_item[:comment] %></td>
            </tr>
      </tbody>
<% end %>
</table>

<%= form_tag(:action => :do_import) do %>
    <%= submit_tag %>
<% end %>