- content_for :javascript do
  :javascript
    $(document).ready(function() {
      var view = new financeRails.views.PayeeView();
    });
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Payee name
      %th Processing Rules
  - @payees.each do |item|
    %tr
      %td
        = item.payee_name
        (
        %a.open_rename_payee{'data-payee-name' => item.payee_name} Rename
        )
      %td
        - with_comma_separated(item.processing_rules) do |processing_rule|
          .rule
            = processing_rule.to_s
            (
            = link_to('Run', {:action => 'run_processing_rule', :processing_rule_id => processing_rule.id}, :remote => true)
            )
        %a.btn.add_processing_rule{'data-name' => item.payee_name} Add
#add_processing_rule_overlay.modal.hide
  .tabbable
    %ul.nav.nav-tabs
      %li.active
        %a{:href => '#payee-tab', 'data-toggle' => 'tab'} Payee
      %li
        %a{:href => '#category-tab', 'data-toggle' => 'tab'} Category
    .tab-content
      #payee-tab.tab-pane.active
        = semantic_form_for :processing_rule, :url => {:action => :add_processing_rule, :item_type => :payee}, :namespace => 'pr_payee', :remote => true do |f|
          .modal-body.well
            = f.input :expression
            = f.input :replacement
            %a.btn.same Same
          .modal-footer
            %a.btn(data-dismiss='modal') Cancel
            %button.btn.btn-primary.submit{:type => :submit} Submit
      #category-tab.tab-pane
        = semantic_form_for :processing_rule, :url => {:action => :add_processing_rule, :item_type => :category}, :namespace => 'pr_category', :remote => true do |f|
          .modal-body.well
            = f.input :expression, :input_html => {:class => 'input-xlarge expression'}
            = f.input :replacement, :input_html => {:class => 'input-xlarge replacement'}
          .modal-footer
            %a.btn(data-dismiss='modal') Cancel
            %button.btn.btn-primary.submit{:type => :submit} Submit
#rename_payee.modal.hide
  = semantic_form_for :payee, :url => {:action => :rename_payee}, :remote => true do |f|
    .modal-body.well
      = f.input :name, :input_html => {:class => 'input-xlarge'}
      = f.input :replacement, :input_html => {:class => 'input-xlarge'}
    .modal-footer
      %a.btn(data-dismiss='modal') Cancel
      %button.btn.btn-primary.submit{:type => :submit} Submit

  
      