Name:
= f.text_field :name, class: 'name'
%br/
Symbol:
= f.text_field :symbol, class: 'symbol'
%br/
Percent:
= f.text_field :percent, class: 'percent'
%hr/
Last Price:
= f.text_field :last_price, class: 'last_price'
%br/
Number:
= f.text_field :number, class: 'number'