- content_for :javascript do
  :javascript
    $(document).ready(function() {
      var view = new financeRails.views.GroceriesView();
    });
= render :partial => 'groceries/nav'
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th.name Item Name
      - @presenter.months.each do |(month, year)|
        %th.date
          = "#{month_name(month)} #{year}"
  - @presenter.store_names.each do |store|
    %tr.store-row
      %td.store_name
        = store
    - @presenter.items_for_store(store).each do |item|
      %tr.item-row
        %td
          = item
        - @presenter.months.each do |(month, year)|
          %td
            !=currency @presenter.total_amount_of_store_item_in_month(store, item, month, year)