.create_area
  Total worth:
  = currency @investment_plan.portfolio_size
  ,
  Cash:
  = currency current_user.total_balance_in_investment
  ,
  Portfolio Worth:
  = currency current_user.investment_plan.portfolio_amount
  = link_to 'Create Stock', new_investment_asset_path, :remote => true, :class => 'btn btn-primary new'
  = link_to 'Edit Plan', edit_investment_plan_path(current_user.investment_plan), :remote => true, :class => 'btn btn-primary new'
  = link_to 'Update Prices', update_last_prices_path(), :method => :post, :class => 'btn btn-primary new'
%table.horizontal_tree
  - as_table(@investment_plan).each do |row|
    %tr
      - row.each do |col|
        %td{rowspan: col.children_count, 'data-item-id' => col.id}
          = render partial: 'tile_' + col.class.to_s.underscore, locals: {item: col}

.create_area
  =semantic_form_for(@new_item, :remote => true, :html => {:class => 'well'}) do |f|
    = render partial: 'investment_line_items/form', locals: {f: f}

#items_list
  %table.main_table.table.table-striped.table-bordered
    %thead
      %tr
        %th.account.st-width       Accout
        %th.type.st-width       Type
        %th.event_date.st-width Event Date
        %th.symbol.st-width     Symbol
        %th.number.st-width      Number
        %th.amount.st-width     Amount
        %th.fee.st-width        Fee
        %th.actions             Actions
    %tbody
      - @items.each do |item|
        = render partial: 'investment_line_items/item', locals: {item: item}

%h2 Investment Assets
%ul
  - current_user.investment_assets.each do |asset|
    %li
      = asset.name
      (
      = asset.symbol
      )
      ,
      Dividend:
      = currency asset.total_dividend(@items)
      Gain:
      = currency asset.total_gain(@items)
      = link_to 'Delete', investment_asset_path(asset), :remote => true, :method => :delete, :data => {:confirm => 'Are you sure delete to delete ' + asset.try(:symbol).to_s + ' symbol?'}, :class => 'btn btn-danger btn-small delete'