- content_for :javascript do
  :javascript
    $(document).ready(function() {
      var view = new financeRails.views.report.ReportView();
    });
.filters.well.well-small
  %form
    Avarage - From:
    %input{name: 'avg_from', type: 'text', value: @filters[:avg_from]}
    Until:
    %input{name: 'avg_until', type: 'text', value: @filters[:avg_until]}
    = check_box_tag :hide_spanning, 'true', !@filters[:support_spanned]
    Hide Spanning
    %input{:type => :submit, :value => 'Apply'}

%ul.year_selector
  - @presenter.line_items_year_range.each do |year|
    %li{class: (year == @presenter.active_year) ? 'active' : ''}
      = link_to year, '/report/month_expenses?year=' + year.to_s


%table.table.table-striped.table-bordered
  %thead
    %tr
      %th.name Category Name
      - @presenter.months.each do |(month, year)|
        %th.date
          = "#{month_name(month)} #{year}"
      %th.avg Avarage
      %th.total Total
      %th.percent Percent
  %tbody
    - @presenter.report_sections.each do |section|
      %tr.section-row
        %td.section_name
          = section.to_s.capitalize
      - @presenter.root_categories_matching(section).each do |root_category_name, child_categories|
        %tr.item-row
          = render partial: 'report/monthly_expenses/report_row', locals: {category_name: root_category_name, contains_categories: child_categories, section: section, expand: true}
        - if child_categories.length > 1
          - child_categories.each do |child_category_name|
            %tr.item-row.hide.child_row{data: {child_of: root_category_name }}
              = render partial: 'report/monthly_expenses/report_row', locals: {category_name: child_category_name, contains_categories: [child_category_name], section: section, expand: false}
    - @presenter.report_sections.each do |section|
      %tr.total
        %td.total
          = @presenter.total_label_section(section)
        - @presenter.months.each do |(month, year)|
          %td{:class => "total #{@presenter.section_class(section)}"}
            != currency @presenter.month_section_total(section, month, year)
        %td
          != currency @presenter.section_total_avg(section)
    %tr.total
      %td Total
      - @presenter.months.each do |(month, year)|
        %td.total
          != currency @presenter.month_total(month, year)
      %td
