- content_for :javascript do
  :javascript
    $(document).ready(function() {
      var view = new financeRails.views.report.ReportView();
    });

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th.name Category Name
      - @presenter.months.each do |(month, year)|
        %th.date
          = "#{month_name(month)} #{year}"
  %tbody
    - @presenter.report_sections.each do |section|
      %tr.section-row
        %td.section_name
          = section.to_s.capitalize
      - @presenter.categories_matching(section).each do |category_name|
        %tr.item-row
          %td
            = category_name
          - @presenter.months.each do |(month, year)|
            %td{:class => @presenter.section_class(section)}
              = link_to url_for(controller: :line_items, action: 'search_overlay', month: month, year: year, categories: category_name),  {remote: true}, {class: 'open-search-line-items'} do
                !=currency_abs @presenter.total_amount_of_type_in_month(section, category_name, month, year)
    - @presenter.report_sections.each do |section|
      %tr.total
        %td.total
          = @presenter.total_label_section(section)
        - @presenter.months.each do |(month, year)|
          %td{:class => "total #{@presenter.section_class(section)}"}
            != currency @presenter.month_section_total(section, month, year)
    %tr.total
      %td Total
      - @presenter.months.each do |(month, year)|
        %td.total
          != currency @presenter.month_total(month, year)
