- content_for :javascript do
  :javascript
    $(document).ready(function() {
      var view = new financeRails.views.report.ReportView();
    });

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th.name Category Name
      - @presenter.months.each do |(month, year)|
        %th.date
          = "#{month_name(month)} #{year}"
  %tbody
    - @presenter.report_sections.each do |section|
      %tr.section-row
        %td.section_name
          = section.to_s.capitalize
      - @presenter.root_categories_matching(section).each do |root_category_name|
        - child_rows = @presenter.child_categories_of(section, root_category_name)
        %tr.item-row
          = render partial: 'report/monthly_expenses/report_row', locals: {category_name: root_category_name, section: section, expand: true}
        - if child_rows.length > 1
          - child_rows.each do |child_category_name|
            %tr.item-row.hide.child_row{data: {child_of: root_category_name }}
              = render partial: 'report/monthly_expenses/report_row', locals: {category_name: child_category_name, section: section, expand: false}
    - @presenter.report_sections.each do |section|
      %tr.total
        %td.total
          = @presenter.total_label_section(section)
        - @presenter.months.each do |(month, year)|
          %td{:class => "total #{@presenter.section_class(section)}"}
            != currency @presenter.month_section_total(section, month, year)
    %tr.total
      %td Total
      - @presenter.months.each do |(month, year)|
        %td.total
          != currency @presenter.month_total(month, year)
