= f.radio_button :type, 0
Income,
= f.radio_button :type, 1
Expense. On
= f.text_field :event_date, class: 'event_date'
%br/
To:
= f.text_field :payee_name, class: 'typeahead payee_name'
$
= f.text_field :amount, class: 'amount'
%br/
For:
= f.text_field :category_name, class: 'typeahead category_name'
%br/
= f.check_box :spanned
Span payments
%br/
From:
= f.text_field :span_from
To
= f.text_field :span_until
%br/
= check_box_tag :always_assign, true
Always rename and categorize as specified
%br/
Comments:
= f.text_field :comment, class: 'comment'
%br/
Highlight Group:
= f.text_field :grouped_label, class: 'grouped_label'
%br
Tags:
- LineItem::TAGS.each do |tag|
  = f.check_box :tags, {:name => "line_item[tags][]"}, tag, ''
  = tag