<tr id="line_item_<%=line_item.id %>">
    <td><%= line_item.type_name%></td>
    <td><%= line_item[:event_date] %></td>
    <td><%= format_number(line_item[:amount]) %></td>
    <td><%= line_item[:payee_name] %></td>
    <td><%= line_item[:category_name] %></td>
    <td><%= format_number(line_item[:balance]) %></td>
    <td><%= link_to 'Edit', edit_line_item_path(line_item), :remote => true %></td>
    <td><%= link_to 'Delete', line_item_path(line_item), :remote => true, :method => :delete %></td>
</tr>