%ul.inner-nav.nav.nav-pills.well
  %li.index
    = link_to 'Line Items', controller: :line_items, action: :index
  %li.report
    = link_to 'Report', controller: :report, action: :month_expenses
  %li.payee
    = link_to 'Payee & Rules', controller: :payee, action: :index
  %li.mass_rename
    = link_to 'Mass Rename', action: :mass_rename
  %li.budgets
    = link_to 'Budgets', controller: :budgets, action: :index

