- content_for :javascript do
  - my_cache [@account, 'javascript'] do
    :javascript
      $(document).ready(function() {
        var view = new financeRails.views.LineItemsView();
      });
- content_for :side_bar_content do
  - my_cache [@account, 'cash_value'] do
    %h2 Cash
    .cash_balance
      Current Cash Balance:
      %br
      != currency @current_user.cash_balance

  %h2 Tags
  %ul.tags.nav.nav-list
    - cache LineItem::TAGS do
      - LineItem::TAGS.each do |tag|
        %li{:class => (params[:tag] == tag ? 'active' : '')}= link_to tag, controller: :line_items, action: :index, :tag => tag

#toggles
  %a.btn.create_toggle Create
  %a.btn.import_toggle Import Remote
  = link_to 'Delete All Caches', cache_refresh_line_items_path, method: :post, class: 'btn btn-danger'
// {new_item}
.create_area.hide
  =semantic_form_for(@new_item, :remote => true, :html => {:class => 'well'}) do |f|
    = render :partial => 'form', :locals => {:f => f}
    .actions
      = f.submit 'Add New Item', class: 'btn btn-primary'
- if @account.present?
  .fetch_area.well.well-small.hide
    =semantic_form_for(:fetch, url: fetch_account_path(@account)) do |f|
      = f.input :mobile_password, as: :password
      = f.submit 'Fetch'

= text_field_tag :search

%ul.month_selector
  - months_between(@first_item.event_date, @last_item.event_date).each do |date|
    %li{data: {date: month_year_short(date)}, class: date_in_month_of(date, @active_date) ? 'active' : ''}
      = year_display(date.year)
      = link_to date.strftime('%b'), line_items_path(month: date.month, year: date.year), remote: true

#items_list
  %table.main_table.table.table-striped.table-bordered
    %thead
      %tr
        %th.type.st-width       Type
        %th.event_date.st-width Event Date
        %th.amount.st-width     Amount
        %th.payee_name          Payee
        %th.category_name       Category
        %th                     Balance
        %th.actions             Actions
    %tbody
      = render 'items'
