<!DOCTYPE html>
<html>
<head>
  <title>FinanceRails2</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Smart Finance</a>
      <ul class="nav">
        <li><%= link_to 'Home', :controller => :line_items, :action => :index %></li>
        <li><%= link_to 'Payees', :controller => :payee, :action => :index %></li>
        <li><%= link_to 'Budget', :controller => :budgets, :action => :index %></li>
        <li><%= link_to 'Monthly Report', :controller => :report, :action => :month_expenses %></li>
        <li><%= link_to 'Groceries', :controller => :groceries, :action => :index %></li>
        <li><%= link_to 'Import', :controller => :external, :action => :import %></li>
        <li><%= link_to 'Export JSON', :controller => :external, :action => :export_json %></li>
      </ul>
      <% if user_signed_in? %>
        <div class="logged-in-info">Welcome <%= current_user.email %> (<%= link_to "Logout", destroy_user_session_path, :method => :delete %>)</div>
      <% end %>
    </div>
  </div>
</div>
<%== flash_notifications %>
<div class="<%=controller_name%>_section <%=action_name%>">
  <%= yield %>
</div>
<%= yield :javascript %>
</body>
</html>
